/* General Styling*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: repeat;
}

/** Header Section **/

h1 {
    font-weight: 100;
    text-align: center;
    margin-top: 30px;
}

/** Rating and Replay Section **/

.rating {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 10px;
}

.rating p {
   text-align: center;
    display:inline-block;
}

.rating span {
    margin-right: 10px;
}

span.refresh {   
    font-size: 20px;
    cursor: pointer;
}

ion-icon, span.refresh {
    vertical-align: text-top;
}


/** Cards Section **/

.cards_container {
    width: 640px;
    height: 540px;;
    background: linear-gradient(rgb(40, 204, 168),rgb(146, 213, 240), rgba(245, 136, 245, 0.548));
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    border-radius: 10px;
    box-shadow: 10px 10px 8px darkgray;
    margin-bottom: 20px;
}



.card {
    background-color: #2E3D49;
    width: 130px;
    height: 120px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.2s;
    color: white;
    font-size: 50px;
    font-weight: 800;
    cursor: pointer;
}

.card i {
    padding-top: 30px;
}

/* Card Selection Colors */

.false {
    background-color: darksalmon;
}

.true {
    background-color: lightgreen;
}

.select {
    visibility: default;
    background-color: rgb(57, 192, 245);
}

.fliiped_card  i {
    visibility: hidden; 
}
